*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9DD9D2;
    font-family: migra;
    font-size: 100;
    color: rgba(0, 0, 0, 0.692);
}
#hero{
    height: 50vmin;
    width: 50vmax;
    /* background-color: red; */
    padding: 1% 1.8%;
    border-radius: 1rem;
    background-color: #f4d16feb;
    box-shadow: 0px 0px 1em 0px #FF8811;
}
#hero>h1{
    font-size: 3.7em;
    margin-bottom: 0.5em;
}
#hero>p{
    margin-left: 1em;
    font-size: 1.8em;
    margin-bottom: 1em;
}
button{
    position: relative;
    left: 50%;
    font-family: migra;
    font-weight: 600;
    font-size: 1.8em;
    padding: 0.2em 1em;
    border-radius: 1rem;
    border: none;
    color: rgba(0, 0, 0, 0.82);
}
