@font-face {
    font-family: neweddy;
    src: url(../../font/609a6c49f3f19df6c82675c3_NewEddy-Display.ttf);
}
@font-face {
    font-family: sohne;
    src: url(../../font/609a6c49927eafcdc7fc3a15_Sohne-Leicht.ttf);
}
@font-face {
    font-family: migra;
    src: url(../../font/609a6c4942325b29e583e448_Migra-Light.ttf);
}